<head>
    <title>Detail page</title>
    <link rel="stylesheet" href="../../static/css/mdb.dark.min.css">
    <link rel="stylesheet" href="../../static/shop/css/index.css">
</head>
<div class="container">
    {% if product.picture %}
        <img class="avatar" src="{{ product.picture.url }}" alt="image">
    {% endif %} <br/>
    {{ product.name }} <br/>
    {{ product.price }} <br/>
    {{ product.id }} <br/>
    {{ product.category }} <br/>
    <form action="{% url 'shop:cart' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="cart" id="cart" value="{{ product.id }}">
        </fieldset>
        <input type="submit" value="add to cart">
    </form>
</div>