<head>
    <title>Detail page</title>
    <link rel="stylesheet" href="../../static/css/mdb.min.css">
    <link rel="stylesheet" href="../../static/shop/index.css">
</head>
<div class="container">
    {% if product.picture %}
        <img class="avatar" src="{{ product.picture.url }}" alt="image">
    {% endif %} <br/>
    {{ product.name }} <br/>
    {{ product.price }} <br/>
    {{ product.id }} <br/>
    {{ product.category }} <br/>
    <a class="btn btn-success btn-rounded" href="{% url "shop:cart" product.id %}">add to cart</a>
</div>