<head>
    <title>Detail page</title>
    <link rel="stylesheet" href="../../static/css/mdb.min.css">
    <link rel="stylesheet" href="../../static/shop/index.css">
</head>
<div class="container">
    {% if product.picture %}
        <img class="avatar" src="{{ product.picture.url }}" alt="image">
    {% endif %} <br/>
    {{ product.name }} <br/>
    {{ product.price }} <br/>
    {{ product.id }} <br/>
    {{ product.category }} <br/>
    <form action="{% url 'shop:cart' product.id %}" method="post">
        {% csrf_token %}
        <fieldset>
        </fieldset>
        <input class="btn btn-success btn-rounded" type="button" name="cart" id="cart{{ forloop.counter }}"
               value="{{ product.id }}">
        <label class="btn btn-success btn-rounded" for="cart{{ forloop.counter }}">add to cart</label><br>

        <a class="btn btn-success btn-rounded" href="{% url "shop:cart" product.id %}">add to cart</a>
    </form>
</div>