{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block body %}
    <link rel="stylesheet" href="../../static/shop/css/index.css">
    {% for p in product %}
        <div>
            {{ forloop.counter }}
            {% if p.picture %}
                <img class="avatar" src="{{ p.picture.url }}" alt="img">
            {% endif %}
            <a href="{% url "shop:detail" p.id %}">Name = {{ p.name }}</a>
            price = {{ p.price }}
        </div>
    {% endfor %}
{% endblock %}
