{% extends "shop/base.html" %}{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "shop/css/index.css" %}">
{% endblock %}
{% block js %}{% endblock %}
{% block body %}
    {% for p in product %}
        <div>
            {{ forloop.counter }}
            {% if p.picture %}
                <img class="avatar" src="{{ p.picture.url }}" alt="img">
            {% endif %}
            <a href="{% url "shop:detail" p.id %}">Name = {{ p.name }}</a>
            price = {{ p.price }}
        </div>
    {% endfor %}
{% endblock %}
