{% extends "shop/base.html" %}{% load static %}
{% block title %}Cart page{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/mdb.dark.min.css" %}">
    <link rel="stylesheet" href="{% static "shop/css/index.css" %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h3>
            Hello you are in shopping cart {{ user }}!<br/><br/>
        </h3>
        <h4>
            your cart:<br/><br/>
        </h4>
        {#    product list#}
        {% if products %}
            {% for p in products %}
                <img id="product_img" class="img-thumbnail" src="{{ p.picture.url }}" alt="picture">
                name: {{ p.name }}<br/><br/>
                price: {{ p.price }}<br/><br/>
                category: {{ p.category }}<br/><br/>
                <hr/>
            {% endfor %}
        {% endif %}
        <input id="check" type="button" class="btn btn-success btn-rounded btn-dark" value="check cart">
        <a href="{% url "shop:index" %}">
            <input class="btn btn-success btn-rounded btn-dark" type="button" value="continue shopping">
        </a><br/><br/>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static "shop/js/jquery.min.js" %}"></script>
    <script src="{% static "shop/js/index.js" %}"></script>
{% endblock %}